#root {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

span {
    color: var(--app-font-color);
}

input {
    background-color: #ffffff;
    color: var(--app-font-color);
}

